################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ElmahCore/v15/Server/sqlite3
/.vs/ElmahCore/v15
/.vsElmahCore/bin/**/*
.idea/**/*
ElmahCore/obj/**/*
ElmahCore/bin/**/*
ElmahCore.Demo/bin/**/*
ElmahCore.Demo/obj/**/*
ElmahCore.DemoCore3/bin/**/*
ElmahCore.DemoCore3/obj/**/*
ElmahCore.Mvc/bin/**/*
ElmahCore.Mvc/obj/**/*
ElmahCore.MsSql/bin/**/*
ElmahCore.MsSql/obj/**/*
ElmahCore.Postgresql/bin/**/*
ElmahCore.Postgresql/obj/**/*
/.vs/ElmahCore
/.vs
/ElmahCore.MySql/obj
/ElmahCore.DemoCore5/bin/Debug/net5.0
/ElmahCore.DemoCore5/obj
/ElmahCore.DemoCore3/wwwroot/errors.xml/**/*
