################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ElmahCore/v15/Server/sqlite3
/.vs/ElmahCore/v15
/.vsElmahCore/bin/**/*
.idea/**/*
ElmahCore/obj/**/*
ElmahCore.Demo/bin/**/*
ElmahCore.Demo/obj/**/*
ElmahCore.Mvc/bin/**/*
ElmahCore.Mvc/obj/**/*
ElmahCore.Demo/bin/Debug/**/*.*