################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ElmahCore/v15/Server/sqlite3
/ElmahCore/bin/Debug
/ElmahCore/obj
/.vs/ElmahCore/v15
/.vs
