@model LoginPage

    <form asp-action="LoginPageFail" asp-controller="Home">
        <input type="text" asp-for="Username" />
        <input type="password" asp-for="Password" />
        <button type="submit">Post Test</button>
    </form>
